<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        
 		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://raja.db.elephantsql.com:5432/nvegmsbu</property>
		<property name="hibernate.connection.username">nvegmsbu</property>
		<property name="hibernate.connection.password">87xGzXq2EvUma-rYGBMCc8afOUgudv9R</property>
		<property name="connection_pool_size">20</property>
		<property name="hibernate.jdbc.lob.non_contextual_creation">true</property>
		<property name="show_sql">true</property>
        <!-- Mapping With Model Class Containing Annotations -->
        <mapping class="com.fse.pojo.Parent" />
        <mapping class="com.fse.pojo.Project" />
        <mapping class="com.fse.pojo.Task" />
        <mapping class="com.fse.pojo.Users" />
        
    </session-factory>
</hibernate-configuration>